/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}

a, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text:#4d3928;;
	--color-background:#FAFAF7;
	--color-efteling-red: #B71234;
	--color-border: #ede5d5;
	--color-button-outline-red: #9B0F2C;

}

@font-face {
	font-family: 'verner';
	src: url('/assets/fonts/new/Verner.woff2') format('woff2');
}

@font-face {
	font-family: 'ernestine';
	src: url('/assets/fonts/new/ErnestineWeb.woff2') format('woff2');
}

@font-face {
	font-family: 'ernestine-bold';
	src: url('/assets/fonts/new/ErnestineWeb-Bold.woff2') format('woff2');
}





/************/
/* ALGEMEEN */
/************/

html{
	scroll-behavior: smooth; /*https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html*/
}

body {
  	color:var(--color-text);
 	background-color:var(--color-background);
}


img {
	width: 100%;
}

.button-red {
	color: white;
	padding: 14px 20px 12px 20px;
	background-color: var(--color-efteling-red);
	font-size: 1em;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.3s;
	position: relative;
}

.button-red::before{
	border-radius: 5px;
    border: 2px solid var(--color-button-outline-red);
	position: absolute;
    content: '';
    display: block;
    left: 4px;
    right: 4px;
    top: 4px;
	bottom: 4px;
}

.button-red:hover {
	background-color: #9b0f2c
}




.button-white {
	color: var(--color-efteling-red);
	padding: 14px 20px 12px 20px;
	background-color: white;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	text-align: center;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.3s;
	position: relative;
}

.button-white::before {
	border-radius: 5px;
    border: 2px solid var(--color-border);
	position: absolute;
    content: '';
    display: block;
    left: 4px;
    right: 4px;
    top: 4px;
	bottom: 4px;
}

.button-white:hover{
	background-color: var(--color-background);
}

.button-outline {
	color: white;
	padding: 10px 19px 8px;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 5px;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.3s;
}

.button-outline img{
	height: 15px;
	width: auto;
}


.button-outline:hover {
	background-color: rgb(255, 255, 255, 0.2);
}


h1 {
	font-size: 2.25em;
	font-family: 'verner', serif;
	line-height: 1.2em;
	text-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
	font-weight: 400;
}

h2 {
	color: var(--color-efteling-red);
	font-family: 'ernestine-bold', sans-serif;
	font-size: 1.25em;
}

h3 {
	color: var(--color-efteling-red);
	font-family: 'ernestine-bold', sans-serif;
	font-weight: 600;
	font-size: 1.25em;
}

h4 {
	color: var(--color-efteling-red);
	font-size: 1em;
	font-family: 'ernestine-bold', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
}

@media (min-width: 48em){
	h1 {
		font-size: 3.75em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}
}





/**********/
/* HEADER */
/**********/




header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 9999999;
	height: 4em;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	justify-content: center;
}



/* logo */
header a img:nth-of-type(1) {
	width: 100px;
}


header > div{
	padding: 0 20px;
	width: 100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* container om zoek icon & hamburger menu */
header > div > div {
	display: flex;
	align-items: center;
	gap: 2em;
}

header div div img{
	height: 1.2em;
}

/* hamburger menu met tekst */
header div div button{
	background-color: white;
	display: flex;
	align-items:center;
	flex-direction: row-reverse;
  	gap: 0.5em;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: var(--color-text);

}
header div div button:hover {
	cursor: pointer;
}

header div div button img {
	width: 2em;
}

nav{ 
	list-style:none;
	display:grid;
	align-content:start;
	gap:1em;
	background-color: white;
	position:fixed;
	left:0;
	right:0;
	top:4em;
	bottom:0;
	transform:translatex(100%);
	transition: 0.5s;
}

nav ul{
	list-style:none;
}

nav.toonMenu {
	transform:translatex(0);
}

/* links in de header */
header nav a{
	color: var(--color-text);
	font-family: 'ernestine-bold', sans-serif;
	text-decoration:none;
	transition: 0.5s;
	border-bottom: 1px solid var(--color-border);
	padding: 1.5em 0 1.5em 20px;
	display: inline-block;
	width: 100%;
}

header nav a:hover{
	color: var(--color-efteling-red);
}

@media (min-width: 50em){
	header div div button {
		display:none;
	}

	nav{
		position:static;
		transform:none;
		background:none;
	}

	nav ul{
		display: flex;
		gap: 2em;
	}

	header nav a{
		padding: 0 20px;
		border-bottom: none;
	}

	header > div{
		max-width: 64em;
	}
}






/**********/
/* FOOTER */
/**********/

footer{
	font-family: 'Open Sans', sans-serif;

}

footer details {
	padding: 1em 0;
	border-bottom: 1px solid var(--color-border);
	max-width: 64em;
	margin: 0 auto;
}

footer details summary{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

footer details summary::after{
	content: '+';
}

footer details[open] summary::after{
	content: '-'
}

footer details summary::-webkit-details-marker {
	display: none;
}

footer {
	background-color: white;
	border-top: 1px solid var(--color-border);
}

footer li{
	list-style: none;
	text-decoration: none;
	margin-top: 1em;
}

footer a{
	text-decoration: none;
	color: var(--color-text)
}

footer a:hover{
	color: var(--color-efteling-red);
}

input[type=submit] {
	border: none;
	cursor: pointer;
	display: block;
}

summary {
	list-style: none
}

@media (min-width: 900px){
	footer {
		display: flex;
	}

	footer details{
		max-width: 30%;
	}

	footer details summary::after, footer details[open] summary::after{
		content: '';
	}

	
}





/****************/
/* INDEX PAGINA */
/****************/

/* HERO SECTION */

.index main > section:nth-of-type(1) img{
	width: 100%;
	height: 20em;
	object-fit: cover;
	object-position: 1em 40%;
	filter: brightness(70%);
	transform: scale(1.5);
}

.index main > section:nth-of-type(1){
	position: relative;
	text-align: center;
	overflow: hidden;
}

.index main > section:nth-of-type(1) > div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	color: white;
	z-index: 1;

	width: 60%; /* breedte tekst fixen -> hoe?? */
}

@media (min-width: 48em){
	.index main > section:nth-of-type(1) > img{
		width: 100%;
		height: 29em;
		object-position: 50% 50%; /* 50% 50% is normaal waarde --> reset */
		transform: scale(1);
	}
}

.index h1 {
	margin-bottom: 1em;
}





/* SECTION OVERNACHTEN */

.index main > section:nth-of-type(2){
	padding: 0 20px;
	margin: 0 auto;
	max-width: 500px;
}

.index main > section:nth-of-type(2) > div {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-border);
	background-color: white;
	border-radius: 5px;
	display: flex;
}

.index main > section:nth-of-type(2) > div div{
	padding: 20px;
}

.index main > section:nth-of-type(2) > div li{
	display: flex;
	align-items: baseline;
	gap: 1em;
	margin-bottom: 5px;
	
}

.index main > section:nth-of-type(2) > div > div img{
	height: 100%;
	width: 1em;
}

.index main > section:nth-of-type(2) > div > img{
	border-radius: 5px 5px 0 0;
}

@media (min-width: 48em){
	.index main > section:nth-of-type(2){
		max-width: 64em;
	}

	.index main > section:nth-of-type(2) > div {
		flex-direction: row;

	}

	.index main > section:nth-of-type(2) > div > img {
		width: 40%;
		height: 100%;
		display: inline-block;
		align-self: center;
		border-radius: 0;

		
	}
}



/* SECTION JUBILEUM */

.index main > section:nth-of-type(3){
	max-width: 500px;
	margin: 0 auto;
	padding: 0 20px;
}


.index main > section:nth-of-type(3) > div{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	gap: 20px;

}



.index main > section:nth-of-type(3) > div p{
	margin: 10px 0;
}


@media (min-width: 48em){
	.index main > section:nth-of-type(3){
		max-width: 64em;
	}

	.index main > section:nth-of-type(3) > div{
		flex-direction: row-reverse;
		align-items: center;
	}

	.index main > section:nth-of-type(3) > div img{
		width: 50%;
		height: 100%;
	}

	.index main > section:nth-of-type(3) > div div{
		padding-right: 20px;
	}
}






/* DRIE KOLOMMEN */

.index main > div {
	display: flex;
	gap: 1em;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
	margin: 0 auto;
	max-width: 500px;
}

.index main > div > section {
	flex-basis: 33%;
	border: 1px solid var(--color-border);
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.index main > div div{
	padding: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.index main > div img {
	border-radius: 5px 5px 0 0;
}

.index main > div a{
	margin-top: 20px;
}

.index main > div p{
	flex-grow: 1; /*duwt button altijd naar de onderkant van de cart*/
}

@media (min-width: 48em){
	.index main > div {
		flex-direction: row;
		max-width: 64em;
	}
}



section{
	margin-bottom: 2em !important
}

@media (min-width: 48em){
	section{
		margin-bottom: 4em !important;
	}
}




/*****************/
/* HERFST PAGINA */
/*****************/

.herfst p{
	font-family: 'ernestine', sans-serif;
}

@media (min-width: 48em){
	.herfst p{
		font-size: 1.25em;
	}
}




/* HERO SECTION */

.herfst video {
	width: 100%;
	height: 25em;
	object-fit: cover;
}

.herfst section:nth-of-type(1){
	position: relative;
	text-align: center;
}

.herfst h1{
	position: absolute;
	color: white;
	/* onderstaande regels centreren h1 in midden. bron: https://www.w3schools.com/howto/howto_css_image_text.asp */
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.herfst section:nth-of-type(1) a img{
	height: 1em;
	width: 1em;
	
}

/* https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html */
.herfst section:nth-of-type(1) a {
	height: 50px;
	width: 50px;
	padding: 10px 10px 8px 10px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	background-color: white;

	position: absolute;
	z-index: 9999;
	bottom: -45px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.herfst section:nth-of-type(1) a:hover{
	background-color: var(--color-background);
}

.herfst section:nth-of-type(1) a::before{
	height: 10px;
	width: 10px;
	padding: 18px;
	border-radius: 50%;
	border: 3px solid var(--color-border);
	background-color: none;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* HERFST SECTION */

.herfst main > section:nth-of-type(2) h2{
	line-height: 1.5em;
	margin: 0 10%;
}

.herfst main > section:nth-of-type(2) {
	padding: 0 20px;
	max-width: 64em;
	text-align: center;
	margin: 0 auto;
}



.herfst main > section:nth-of-type(2) p{
	margin: 1em 0;
}

@media (min-width: 48em){
	.herfst main > section:nth-of-type(2) div {
		margin: 0 15%;
	}
}


/* COLLAGE SECTION */
.herfst section:nth-of-type(3){
	padding: 0 20px;
	max-width: 64em;
	margin: 0 auto;
}



.herfst main > section:nth-of-type(3){
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.herfst main > section:nth-of-type(3) > img:nth-of-type(1){
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 3;
}

@media (min-width: 48em){
	.herfst main > section:nth-of-type(3){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(1){
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(2){
		grid-column-start: 4;
		grid-column-end: 7;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(3){
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(4){
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(5){
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 2;
	}
}





/* LANGNEK SECTION */

.herfst section:nth-of-type(4){
	position: relative;
	
}

.herfst section:nth-of-type(4) > div > div{

	padding: 0 20px;
	/* onderstaande regels centreren h1 in midden. bron: https://www.w3schools.com/howto/howto_css_image_text.asp */
 	
	top: 5em;
	/* top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%); */
	z-index: 2;
	text-align: center;

}

.herfst section:nth-of-type(4) > div {
	max-width: 64em;
	margin: 0 auto;
	display: flex;
	align-items: center;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.herfst section:nth-of-type(4) > div p {
	margin: 1em 0;
}

.herfst section:nth-of-type(4) h2, section:nth-of-type(4) p{
	color: white;
}

.herfst section:nth-of-type(4) > img{
	width: 100%;
	height: 34.375em;
	object-fit: cover;
	filter: brightness(70%);
}



.herfst section:nth-of-type(4) > a {
	height: 50px;
	width: 50px;
	padding: 10px 10px 8px 10px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	background-color: white;

	position: absolute;
	z-index: 9999;
	top: 0;

	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.herfst section:nth-of-type(4) > a:hover{
	background-color: var(--color-background);
}

.herfst section:nth-of-type(4) > a::before{
	height: 10px;
	width: 10px;
	padding: 18px;
	border-radius: 50%;
	border: 3px solid var(--color-border);
	background-color: none;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.herfst section:nth-of-type(4) > a img{
	height: 1em;
	width: 1em;
}



@media (min-width: 48em) {
	.herfst section:nth-of-type(4) h2 {
		font-size: 1.25em;
	}
	.herfst section:nth-of-type(4) p {
		font-size: 1em;
	}
	.herfst section:nth-of-type(4) > div > div{
		width: 50%;
		max-width: 500px;
		}
}

@media (min-width: 64em) {
	.herfst section:nth-of-type(4) h2 {
		font-size: 2.25em;
	}
	.herfst section:nth-of-type(4) p {
		font-size: 1.25em;
	}
}