/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}

a, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text:#4d3928;;
	--color-background:#FAFAF7;
	--color-efteling-red: #B71234;
	--color-border: #ede5d5;
	--color-button-outline-red: #9B0F2C;

}

@font-face {
	font-family: 'verner';
	src: url('../assets/fonts/Verner.woff2') format('woff2');
}

@font-face {
	font-family: 'ernestine';
	src: url('../assets/fonts/ErnestineWeb.woff2') format('woff2');
}

@font-face {
	font-family: 'ernestine-bold';
	src: url('../assets/fonts/ErnestineWeb-Bold.woff2') format('woff2');
}





/************/
/* ALGEMEEN */
/************/

*:focus-visible{
	outline: 2px solid 	var(--color-efteling-red);
	outline-offset: 0.25em;
	border-radius: 5px;
	transition: 0.3s !important;
}

*:active{
	outline: none !important;
}


html{
	scroll-behavior: smooth; /*https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html*/
}

body {
  	color:var(--color-text);
 	background-color:var(--color-background);
}

img {
	width: 100%;
}


/* BUTTONS */

.button-red {
	color: white;
	padding: 14px 20px 12px 20px;
	background-color: var(--color-efteling-red);
	font-size: 1em;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.3s;
	position: relative;
}

.button-red::before{
	border-radius: 5px;
    border: 2px solid var(--color-button-outline-red);
	position: absolute;
    content: '';
    display: block;
    left: 4px;
    right: 4px;
    top: 4px;
	bottom: 4px;
	transition: 1s;
}

.button-red:hover:before{
	border: 2px solid var(--color-background);
}

.button-red:hover {
	background-color: var(--color-button-outline-red);
}


.button-white {
	color: var(--color-efteling-red);
	padding: 14px 20px 12px 20px;
	background-color: white;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	text-align: center;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.3s;
	position: relative;
}

.button-white::before {
	border-radius: 5px;
    border: 2px solid var(--color-border);
	position: absolute;
    content: '';
    display: block;
    left: 4px;
    right: 4px;
    top: 4px;
	bottom: 4px;
	transition: 0.8s;
}
.button-white:hover:before{
	border: 2px solid var(--color-efteling-red);
}

.button-white:hover{
	background-color: var(--color-border);
}

.button-outline {
	color: white;
	padding: 10px 19px 8px;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 5px;
	font-family: 'ernestine-bold', sans-serif;
	transition: 0.5s;
}

.button-outline::after{
	content: '>';
	margin-left: 0.5em;
	/* content: url() */
}

.button-outline:hover {
	background: var(--color-button-outline-red);
}

section{
	margin-bottom: 2em !important
}

@media (min-width: 48em){
	section{
		margin-bottom: 4em !important;
	}
}

h1 {
	font-size: 2.25em;
	font-family: 'verner', serif;
	line-height: 1.2em;
	text-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
	font-weight: 400;
}

h2 {
	color: var(--color-efteling-red);
	font-family: 'ernestine-bold', sans-serif;
	font-size: 1.25em;
}

h3 {
	color: var(--color-efteling-red);
	font-family: 'ernestine-bold', sans-serif;
	font-weight: 600;
	font-size: 1.25em;
}

h4 {
	color: var(--color-efteling-red);
	font-size: 1em;
	font-family: 'ernestine-bold', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.75;
}

@media (min-width: 48em){
	h1 {
		font-size: 3.75em;
	}

	h2 {
		font-size: 2.25em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}
}





/**********/
/* HEADER */
/**********/


header:first-of-type{
	display: none;
	background: var(--color-background);
}

header:first-of-type nav{
	max-width: 64em;
	margin: 0 auto;
	padding: 0.25em 20px;
}

header:first-of-type ul{
	display: flex;
	list-style: none;
	gap: 2em;
	justify-content: end;
	align-items: center;
}

header:first-of-type ul li:last-of-type img{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

header:first-of-type ul li:last-of-type a{
	display: flex;
	align-items: center;
	gap: 0.5em;
}



header:first-of-type a{
	text-decoration: none;
	color: var(--color-text);
	font-size: 0.75em;
	font-family: 'open sans', sans-serif;

}

header:first-of-type a:hover{
	color: var(--color-efteling-red);
}


@media (min-width: 50em){
	header:first-of-type{
		display: inline;
	}
}





/* skip to content button */
header:nth-of-type(2) > div > a:nth-of-type(2) {
	position: absolute;
	transform: translatey(-300%);
}

header:nth-of-type(2) > div > a:nth-of-type(2):focus {
	transform: translatey(100%);
}

header:nth-of-type(2) {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 9999999;
	height: 4em;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	justify-content: center;
}	

/* logo */
header:nth-of-type(2) a img:nth-of-type(1) {
	width: 100px;
}

/* container om witruimte te geven aan header */
header:nth-of-type(2) > div{
	padding: 0 20px;
	width: 100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* container om zoek icon & hamburger menu */
header:nth-of-type(2) > div > div {
	display: flex;
	align-items: center;
	gap: 2em;
}

/* search icon */
header:nth-of-type(2) div div img{
	height: 1.2em;
}

/* hamburger menu met tekst */
header:nth-of-type(2) div div button{
	background-color: white;
	display: flex;
	align-items:center;
	flex-direction: row-reverse;
  	gap: 0.5em;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: var(--color-text);
}
header:nth-of-type(2) div div button:hover {
	cursor: pointer;
}
header:nth-of-type(2) div div button img {
	width: 2em;
}



header:nth-of-type(2) nav{ 
	list-style:none;
	display:grid;
	align-content:start;
	gap:1em;
	background-color: white;
	position:fixed;
	left:0;
	right:0;
	top:4em;
	bottom:0;
	transform:translatex(100%); /* menu standaard buiten beeld */
	transition: 0.5s;
}

header:nth-of-type(2) nav ul{
	list-style: none;
}

/* brengt menu in beeld */
header:nth-of-type(2) nav.toonMenu,
header:nth-of-type(2) nav:focus-within {
	transform:translatex(0);
}

/* links in de header */
header:nth-of-type(2) nav a{
	color: var(--color-text);
	font-family: 'ernestine-bold', sans-serif;
	text-decoration:none;
	transition: 0.5s;
	border-bottom: 1px solid var(--color-border);
	padding: 1.5em 0 1.5em 20px;
	display: inline-block;
	width: 100%;
}

header:nth-of-type(2) nav a:hover{
	color: var(--color-efteling-red);
}

@media (min-width: 50em){
	/* hamburger menu */
	header:nth-of-type(2) div div button {
		display: none; 
	}

	header:nth-of-type(2) nav{
		position:static; /* geen hamburger menu meer -> links komen in nav bar te staan */
		transform:none;
		background:none;
	}

	header:nth-of-type(2) nav ul{
		display: flex;
		gap: 2em;
	}

	header:nth-of-type(2) nav a{
		padding: 0 20px;
		border-bottom: none;
	}

	header:nth-of-type(2) > div{
		max-width: 64em;
	}
}






/**********/
/* FOOTER */
/**********/

/* ALGEMEEN */

footer{
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	border-top: 1px solid var(--color-border);
}

footer a, footer p:nth-of-type(2){
	text-decoration: none;
	color: var(--color-text);
}

footer a:hover{
	color: var(--color-efteling-red);
}

input[type=email] {
	padding: 0.5em 1em;
	border-radius: 5px;
	border: 1px solid var(--color-border);
	font-size: 1em;
	font-family: 'open sans', sans-serif;
	margin-top: 1em;
	width: 100%;
}

input[type=submit] {
	border: none;
	cursor: pointer;
	display: block;
	margin-top: 0.5em;
}



/* FOOTER OP KLEIN SCHERM */

footer details {
	padding: 1em 20px;
	border-bottom: 1px solid var(--color-border);
}

/* kopje en uitklap icon (+ of -) */
footer details summary{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

footer details summary::after{
	content: '+';
}

footer details[open] summary::after{
	content: '-'
}


/* laat standaard icon niet meer zien */
footer details summary::-webkit-details-marker {
	display: none;
}

footer details li{
	list-style: none;
	text-decoration: none;
	margin-top: 1em;
}

footer > nav:nth-of-type(2){
	display: none;
}

/* FOOTER OP GROOT SCHERM */

@media (min-width: 56.25em){
	
	/* zet nav in midden van scherm */
	footer {
		display: flex;
		justify-content: center;
		line-height: 1.75;
		font-size: 1em;
	}

	footer > nav:nth-of-type(1){
		/* haalt nav voor klein scherm weg */
		display: none;
	}

	footer > nav:nth-of-type(2){
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		max-width: 64em;
		padding: 20px;
		
	}

	footer > nav:nth-of-type(2) ul, footer > nav:nth-of-type(2) div{
		max-width: 30%;
		list-style: none;
		text-decoration: none;
		margin-top: 1em;
		font-size: 0.875em;
	}

	footer > nav:nth-of-type(2) ul li, footer > nav:nth-of-type(2) div p{
		margin-top: 0.5em;
		font-family: 'open sans', sans-serif;
	}

	footer > nav:nth-of-type(2) ul li:nth-of-type(1), footer > nav:nth-of-type(2) div p:nth-of-type(1){
		font-weight: bold;
		margin-top: 0;
	}
}





/****************/
/* INDEX PAGINA */
/****************/

/* HERO SECTION */

.index main > section:nth-of-type(1) img{
	width: 100%;
	height: 20em;
	object-fit: cover;
	object-position: 1em 40%;
	filter: brightness(70%);
	transform: scale(1.5);
}

.index main > section:nth-of-type(1){
	position: relative;
	text-align: center;
	overflow: hidden;
}

.index main > section:nth-of-type(1) > div{
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	color: white;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 60%;
	max-width: 32em; */
}

.index main > section:nth-of-type(1) h1 {
	margin-bottom: 0.5em;
	width: 80%;
	max-width: 10em;
}


@media (min-width: 48em){
	.index main > section:nth-of-type(1) > img{
		width: 100%;
		height: 29em;
		object-position: 50% 50%; /* 50% 50% is normaal waarde --> reset */
		transform: scale(1);
	}
}



/* * { border: 1px solid red !important; } */





/* SECTION OVERNACHTEN */

.index main > section:nth-of-type(2){
	padding: 0 20px;
	margin: 0 auto;
	max-width: 31.25em;
}

.index main > section:nth-of-type(2) > div {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-border);
	background-color: white;
	border-radius: 5px;
	display: flex;
}

.index main > section:nth-of-type(2) > div div{
	padding: 20px;
}

.index main > section:nth-of-type(2) > div ul{
	margin: 1em 0;
}

.index main > section:nth-of-type(2) > div li{
	display: flex;
	align-items: baseline;
	gap: 1em;
	margin-bottom: 5px;
	font-size: 0.875em;
	
}

.index main > section:nth-of-type(2) > div > div img{
	height: 100%;
	width: 1em;
}

.index main > section:nth-of-type(2) > div > img{
	border-radius: 5px 5px 0 0;
	
}

@media (min-width: 48em){
	.index main > section:nth-of-type(2){
		max-width: 64em;
	}

	/* content wordt naast elkaar gezet */
	.index main > section:nth-of-type(2) > div {
		flex-direction: row;
	}

	.index main > section:nth-of-type(2) > div > img {
		width: 40%;
		height: 100%;
		display: inline-block;
		align-self: center;
		border-radius: 0;
	}
}



/* SECTION JUBILEUM */

.index main > section:nth-of-type(3){
	max-width: 31.25em;
	margin: 0 auto;
	padding: 0 20px;
}

.index main > section:nth-of-type(3) > div{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	gap: 20px;
}


.index main > section:nth-of-type(3) > div p{
	margin: 10px 0;
}


@media (min-width: 48em){
	.index main > section:nth-of-type(3){
		max-width: 64em;
	}

	.index main > section:nth-of-type(3) > div{
		flex-direction: row-reverse;
		align-items: center;
	}

	.index main > section:nth-of-type(3) > div img{
		width: 50%;
		height: 100%;
	}

	.index main > section:nth-of-type(3) > div div{
		padding-right: 20px;
	}
}






/* DRIE KOLOMMEN */

.index main > div {
	display: flex;
	gap: 1em;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
	margin: 0 auto;
	max-width: 31.25em;
}

/* card */
.index main > div > section {
	flex-basis: 33%;
	border: 1px solid var(--color-border);
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

/* tekst + button binnen een card */
.index main > div div{
	padding: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.index main > div img {
	border-radius: 5px 5px 0 0;
}

.index main > div a{
	margin-top: 20px;
}

.index main > div p{
	flex-grow: 1; /*duwt button altijd naar de onderkant van de cart*/
}

@media (min-width: 48em){
	.index main > div {
		flex-direction: row;
		max-width: 64em;
	}
}





/*****************/
/* HERFST PAGINA */
/*****************/

.herfst p{
	font-family: 'ernestine', sans-serif;
}

@media (min-width: 48em){
	.herfst main p{
		font-size: 1.25em;
	}
}




/* HERO SECTION */

.herfst video {
	width: 100%;
	height: 25em;
	object-fit: cover;
}

.herfst section:nth-of-type(1){
	position: relative;
	text-align: center;
}

.herfst h1{
	position: absolute;
	color: white;
	/* onderstaande regels centreren h1 in midden. bron: https://www.w3schools.com/howto/howto_css_image_text.asp */
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.herfst section:nth-of-type(1) a img{
	height: 1em;
	width: 1em;
	
}

/* https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html */
/* scroll button */
.herfst section:nth-of-type(1) a {
	height: 50px;
	width: 50px;
	padding: 10px 10px 8px 10px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	background-color: white;

	position: absolute;
	z-index: 9999;
	bottom: -45px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.herfst section:nth-of-type(1) a:hover{
	background-color: var(--color-background);
}

.herfst section:nth-of-type(1) a::before{
	height: 10px;
	width: 10px;
	padding: 18px;
	border-radius: 50%;
	border: 3px solid var(--color-border);
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/* HERFST SECTION */

.herfst main > section:nth-of-type(2) h2{
	line-height: 1.5em;
	margin: 0 10%;
}

.herfst main > section:nth-of-type(2) {
	padding: 0 20px;
	max-width: 64em;
	text-align: center;
	margin: 0 auto;
}

.herfst main > section:nth-of-type(2) p{
	margin: 1em 0;
}

@media (min-width: 48em){
	.herfst main > section:nth-of-type(2) div {
		margin: 0 15%;
	}
	
}


/* COLLAGE SECTION */

.herfst section:nth-of-type(3){
	padding: 0 20px;
	max-width: 64em;
	margin: 0 auto;
}

.herfst main > section:nth-of-type(3){
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-gap: 1em;
}

.herfst main > section:nth-of-type(3) > img:nth-of-type(1){
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 3;
}

@media (min-width: 48em){
	.herfst main > section:nth-of-type(3){
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(1){
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(2){
		grid-column-start: 4;
		grid-column-end: 7;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(3){
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(4){
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
	}

	.herfst main > section:nth-of-type(3) > img:nth-of-type(5){
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 2;
	}
}





/* LANGNEK SECTION */

.herfst section:nth-of-type(4){
	position: relative;
}

/* tekst + button */
.herfst section:nth-of-type(4) > div > div{
	padding: 0 20px;
	z-index: 2;
	text-align: center;
}

.herfst section:nth-of-type(4) > div {
	max-width: 64em;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.herfst section:nth-of-type(4) > div p {
	margin-bottom: 1em;
}

.herfst section:nth-of-type(4) h2, section:nth-of-type(4) p{
	color: white;
}

.herfst section:nth-of-type(4) > img{
	width: 100%;
	height: 34.375em;
	object-fit: cover;
	filter: brightness(70%);
}

.herfst section:nth-of-type(4) > a {
	height: 50px;
	width: 50px;
	padding: 10px 10px 8px 10px;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	background-color: white;

	position: absolute;
	z-index: 9999;
	top: 0;

	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.herfst section:nth-of-type(4) > a:hover{
	background-color: var(--color-background);
}

.herfst section:nth-of-type(4) > a::before{
	height: 10px;
	width: 10px;
	padding: 18px;
	border-radius: 50%;
	border: 3px solid var(--color-border);
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.herfst section:nth-of-type(4) > a img{
	height: 1em;
	width: 1em;
}

/* horizontaal lijntje onder titel */
.herfst section:nth-of-type(4) h2::after{
	content: '';
	width: 100px;
	height: 2px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0.5em auto;
}



@media (min-width: 48em) {
	.herfst section:nth-of-type(4) h2 {
		font-size: 1.25em;
	}
	.herfst section:nth-of-type(4) p {
		font-size: 1em;
	}
	.herfst section:nth-of-type(4) > div > div{
		width: 50%;
		max-width: 31.25em;
	}
}

@media (min-width: 64em) {
	.herfst section:nth-of-type(4) h2 {
		font-size: 2.25em;
	}
	.herfst section:nth-of-type(4) p {
		font-size: 1.25em;
	}
}

/* section:target {
	background: hotpink;
} */



